<!doctype html>
<html lang="en" class="no-touch">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>AKPESSC 2018</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="AKPESSC" />
<meta name="msapplication-TileColor" content="#000000" />
<meta name="msapplication-TileImage" content="/assets/images/favicons/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="/assets/images/favicons/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="/assets/images/favicons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="/assets/images/favicons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="/assets/images/favicons/mstile-310x310.png" />
<meta name="author" content="One Day Out">
<meta name="description" content="One Day Out – One day, one conference – @onedayoutconf – 2017, Odense Denmark">
<meta name="keywords" content="conference, design, web, odense, development, print, typography, day, out, one, inspiration, Denmark" />
<meta property="og:title" content="AKPESSC" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://onedayout.io" />
<meta itemprop="image" content="/assets/images/logo1.jpeg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="AKPESSC">
<meta name="twitter:description" content="One Day Out – @onedayoutconf – 2017, Odense Denmark">
<meta name="twitter:site" content="@onedayoutconf">
<meta name="twitter:creator" content="@onedayoutconf">
<meta name="twitter:image" content="https://s3.eu-central-1.amazonaws.com/onedayout-17/share-images/ODO+Share+image+Twitter.png">
<meta property="og:image" content="https://s3.eu-central-1.amazonaws.com/onedayout-17/share-images/ODO+Share+image+Facebook.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="628" />
<meta property="og:description" content="One Day Out – One day, one conference – @onedayoutconf – 2017, Odense Denmark" />
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="AKPESSC" />
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://onedayout.io/assets/images/favicons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://onedayout.io/assets/images/favicons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://onedayout.io/assets/images/favicons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/favicons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/images/favicons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/favicons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/images/favicons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/images/favicons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-128.png" sizes="128x128" />
<script>if ('ontouchstart' in document) document.documentElement.className = document.documentElement.className.replace('no-touch', 'touch');</script>

<script>
		!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
		n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
		document,'script','https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '1033517890064383'); // Insert your pixel ID here.
		fbq('track', 'PageView');
		</script>
<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=1033517890064383&ev=PageView&noscript=1"
		/></noscript>


<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body :class="classes">
<navigation></navigation>
<left-corner class="box">
<template slot="nav-open-label">September 14-16, 2018</template>
<template slot="nav-closed-label">September 14-16, 2018</template>
</left-corner>

<section data-id="home" data-title="Welcome to AKPESSC" class="top w-bg flex items-center">
<div class="s-c">
<div class="flex flex-column items-center">
<div class="logo">
<img draggable="false" src="/assets/images/logo.svg" title="AKPESSC" alt="">
<animation></animation>
</div>

<div class="directions">
<h4>September 14-16, 2018</h4>
<h5>College of Engineering, Chengannur</h5>
<a class="purchase-link" href="#" target="_blank">
<span>Buy Ticket</span>
</a>
</div>
</div>
</div>
</section>
<section data-id="speakers" data-title="The speakers" class="flex w-bg w-bg-fade-bottom flex-column items-start">
<div class="s-c">
<h1 class="section-title">
THE SPEAKERS.
</h1>
<div class="speaker-list flex flex-column">
<speaker v-for="speaker in $store.get('speakers')" :speaker="speaker"></speaker>
</div>
</div>
</section>
<section data-id="schedule" data-title="The schedule">
<div class="s-c">
<h1 class="section-title">
THE SCHEDULE.
</h1>
<ul class="schedule">
<li class="key" v-for="entry in $store.get('schedule')">
<span v-if="entry.imagePath" class="image" :class="{isSpeaker: entry.imagePath}" :style="{'background-image': `url('${entry.imagePath}')`}"></span>
<a v-if="entry.isTalk" @click="$mutate.openModal($store.get('speakers')[entry.speaker], 'speaker-bio-modal')">
<h3 class="headline -uppercase">{{ entry.title }}</h3>
</a>
<h3 v-if="!entry.isTalk" class="headline -uppercase">{{ entry.title }}</h3>
<h4 v-if="entry.talkTitle" class="headline -small">{{ entry.talkTitle }}</h4>
<p v-if="entry.talkDesc" class="paragraph desc">{{ entry.talkDesc }}</p>
<span class="time">{{ entry.time }}</span>
</li>
</ul>
</div>
</section>
<section data-id="about" data-title="About AKPESSC" class="flex flex-column items-start">
<div class="s-c">
<h1 class="section-title">
a one day conference
</h1>
<div class="section-copy">
<h4>The annual conference for digital creatives.</h4>
<p>One Day Out is an international single day conference held in the heart of Denmark, Odense. The goal of the conference is to gather people for a day of inspiration and meeting new people.
</br></br>
The conference is joined by people from all over Europe to watch and listen to creative and smart people.
Our speakers come to Odense, from all over the world, to tell about their story, to share their experiences or show some of their greatest work.
</br></br>
The conference is a non-profit initiative by the DEVDK.org community. DEVDK is a Danish online community with a Slack channel of 600+ users. All profit we get will be put into next years conference and other community initiatives.
We hope everyone joining One Day Out will go home inspired, happy and with new friendships.
</p>
</div>
</div>
</section>
<section data-id="partners" data-title="Partners" class="flex flex-column items-start">
<div class="s-c">
<h1 class="section-title">
Our lovely partners
</h1>
<p>We are always looking for sponsors who want to help us make the event even better – Email us at <a href="/cdn-cgi/l/email-protection#7910171f163916171c1d1800160c0d571016"><span class="__cf_email__" data-cfemail="4d24232b220d222328292c34223839632422">[email&#160;protected]</span></a> and let us find the best solution for both parties.</p>
<h4 class="sponsor-heading-title">Silver partners:</h4>
<div class="partner-items flex flex-wrap flex-row">
<a href="https://mobilelife.dk" target="_blank" title="MobileLife" class="partner-item">
<img src="/assets/images/sponsors/mobilelife.svg" style="transform: scale(1.3);" alt="">
</a>
</div>
<h4 class="sponsor-heading-title">Bronze partners:</h4>
<div class="partner-items flex flex-wrap flex-row">
<a href="https://www.zendesk.com" target="_blank" title="Zendesk" class="partner-item">
<img src="/assets/images/sponsors/zendesk.svg" style="transform: scale(1.4);" alt="">
</a>
<a href="http://duckwise.dk/" target="_blank" title="Duckwise" class="partner-item">
<img src="/assets/images/sponsors/duckwise.svg" style="transform: scale(1.25);" alt="">
</a>
</div>
<h4 class="sponsor-heading-title">Community partners:</h4>
<div class="partner-items flex flex-wrap flex-row">
<a href="https://www.uglyduckbrewing.dk/" target="_blank" title="Ugly Duck" class="partner-item">
<img src="/assets/images/sponsors/uglyduck.png" style="transform: scale(1.3)" alt="">
</a>
<a href="http://www.cs2.dk" target="_blank" title="Træls" class="partner-item">
<img src="/assets/images/sponsors/trals.png" style="transform: scale(0.8);" alt="">
</a>
<a href="http://nordfynsbank.dk" target="_blank" title="Nordfynsbank" class="partner-item">
<img src="/assets/images/sponsors/nordfynsbank.svg" style="transform: scale(1.25);" alt="">
</a>
<a href="https://balsamiq.com/" target="_blank" title="Balsamiq" class="partner-item">
<img src="/assets/images/sponsors/balsamiq.svg" style="transform: scale(0.93);" alt="">
</a>
</div>
<h4 class="sponsor-heading-title">Longtime partners:</h4>
<div class="partner-items flex flex-wrap flex-row">
<a href="https://buffer.com/" target="_blank" title="buffer" class="partner-item">
<img src="/assets/images/sponsors/buffer.svg" alt="">
</a>
<a href="https://agilebits.com/" target="_blank" title="agile bits" class="partner-item">
<img src="/assets/images/sponsors/agilebits.svg" style="transform: scale(1.3)" alt="">
</a>
<a href="http://twentythree.net" target="_blank" title="twentythree" class="partner-item">
<img src="/assets/images/sponsors/23.svg" style="transform: scale(0.85);" alt="">
</a>
<a href="http://www.offscreenmag.com" target="_blank" title="offscreen" class="partner-item">
<img src="/assets/images/sponsors/offscreen.svg" alt="">
</a>
</div>
</div>
</section>
<section data-id="manifesto" data-title="Manifesto" class="flex flex-column items-start">
<div class="s-c">
<h1 class="section-title">
Our Manifesto
</h1>
<div class="section-copy excerpt">
<h3>A conference for everyone</h3>
<p>We welcome everyone to join us to take one day out of their calendars, meet new people and listen to interesting talks by people we admire.</p>
<h3>It’s all about the community</h3>
<p>We have always wanted the conference to be for the community by the community. This is why we listen to the voices of our audience and try to learn from it. We moved from being a developer focus conference to a design and front-end development focused by listing to our community.</p>
<h3>We truly admire our speakers</h3>
<p>Our speakers are makers, designers, entrepreneurs and everything in between. We try to find speakers that are passionated and can inspire people. We don’t dictate any topics on our speakers, but invite them to pick a topic they are truly passionated about.</p>
</div>
<div class="flex justify-center items-center">
<button class="button__cyan" @click="$mutate.openModal('', 'manifest-modal')">Read the full manifesto</button>
</div>
</div>
</section>


<component :is="$store.get('modalType')" v-if="$store.get('showModal')"></component>
<script data-cfasync="false" src="/cdn-cgi/scripts/f2bf09f8/cloudflare-static/email-decode.min.js"></script><script src="/assets/js/app.js"></script>
</body>
</html>
