@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Karla:400,700";

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

    audio:not([controls]) {
        display: none;
        height: 0;
    }

[hidden], template {
    display: none;
}

a {
    background-color: transparent;
}

    a:active, a:hover {
        outline: 0;
    }

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: 700;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

    button[disabled], html input[disabled] {
        cursor: default;
    }

    button::-moz-focus-inner, input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

input {
    line-height: normal;
}

    input[type=checkbox], input[type=radio] {
        box-sizing: border-box;
        padding: 0;
    }

    input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
        height: auto;
    }

    input[type=search] {
        -webkit-appearance: textfield;
        box-sizing: content-box;
    }

        input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
            -webkit-appearance: none;
        }

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: 700;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

.flex {
    display: -ms-flexbox;
    display: flex;
}

.flex-inline {
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.flex-column {
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.items-start {
    -ms-flex-align: start;
    align-items: flex-start;
}

.items-end {
    -ms-flex-align: end;
    align-items: flex-end;
}

.items-center {
    -ms-flex-align: center;
    align-items: center;
}

.items-baseline {
    -ms-flex-align: baseline;
    align-items: baseline;
}

.items-stretch {
    -ms-flex-align: stretch;
    align-items: stretch;
}

.self-start {
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.self-end {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.self-center {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.self-baseline {
    -ms-flex-item-align: baseline;
    align-self: baseline;
}

.self-stretch {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
}

.justify-start {
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.justify-end {
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.justify-center {
    -ms-flex-pack: center;
    justify-content: center;
}

.justify-between {
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.content-start {
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.content-end {
    -ms-flex-line-pack: end;
    align-content: flex-end;
}

.content-center {
    -ms-flex-line-pack: center;
    align-content: center;
}

.content-between {
    -ms-flex-line-pack: justify;
    align-content: space-between;
}

.content-around {
    -ms-flex-line-pack: distribute;
    align-content: space-around;
}

.content-stretch {
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

.flex-right {
    margin-left: auto;
}

.flex-left {
    margin-right: auto;
}

.flex-auto {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
}

.flex-none {
    -ms-flex: none;
    flex: none;
}

.no-background {
    background: none;
}

.underline {
    border: none;
    border-bottom: 2px solid #fff;
}

.center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@font-face {
    font-family: Cartograph Mono CF;
    font-style: normal;
    font-weight: 700;
    src: local("Cartograph Mono CF Bold"),local("CartographMonoCF-Bold"),url(../fonts/CartographMonoCF-Bold.woff2) format("woff2"),url(../fonts/CartographMonoCF-Bold.ttf) format("ttf");
}

@font-face {
    font-family: Cartograph Mono CF;
    font-style: normal;
    font-weight: 900;
    src: local("Cartograph Mono CF Heavy"),local("CartographMonoCF-Heavy"),url(../fonts/CartographMonoCF-Heavy.woff2) format("woff2"),url(../fonts/CartographMonoCF-Heavy.ttf) format("ttf");
}

@font-face {
    font-family: Cartograph Mono CF;
    font-style: normal;
    font-weight: 400;
    src: local("Cartograph Mono CF Regular"),local("CartographMonoCF-Regular"),url(../fonts/CartographMonoCF-Regular.woff2) format("woff2"),url(../fonts/CartographMonoCF-Regular.ttf) format("ttf");
}

h1, h2, h3, h4 {
    margin: 0;
    font-family: Cartograph Mono CF,monospace;
    font-weight: 900;
}

h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

h3 {
    font-size: 24px;
}

h3, h4 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 700;
}

h4 {
    font-size: 22px;
    color: #7af6dd;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 50px;
    font-weight: 400;
}

    p a {
        text-decoration: underline;
    }

        p a:hover {
            text-decoration: none;
        }

a, a:visited {
    color: inherit;
    text-decoration: inherit;
}

.highlighted {
    background: rgba(122,246,221,.15);
    padding: 0 3px;
    opacity: 1;
}

small {
    font-weight: thin;
}

.slideIn-transition {
    transition: transform .5s cubic-bezier(.75,0,.25,1);
    transform-origin: center;
    transform: translateX(0);
}

.slideIn-enter, .slideIn-leave {
    transform: translateX(-100%);
}

.fadeIn-transition {
    transition: transform .28s cubic-bezier(.75,0,.25,1),opacity .28s cubic-bezier(.75,0,.25,1);
    transform-origin: center;
    transform: scale(1);
    opacity: 1;
}

.fadeIn-enter, .fadeIn-leave {
    transform: scale(.5);
    opacity: 0;
}

.navigation--title {
    font-family: Cartograph Mono CF,monospace;
    position: fixed;
    transform: translateZ(0);
    display: none;
    top: 0;
    font-size: 13px;
    text-transform: uppercase;
    bottom: 0;
    width: 80px;
    z-index: 6;
    background: #70da46;
    color: #fff;
    font-weight: 700;
}

@media (min-width:768px) {
    .navigation--title {
        display: -ms-flexbox;
        display: flex;
    }
}

.navigation--title:before {
    display: inline-block;
    content: attr(title);
    transform: rotate(-90deg);
    transform-origin: center center;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    white-space: nowrap;
}

.navigation--handle {
    position: fixed;
    left: 10px;
    top: 10px;
    transform: translateZ(0);
    display: -ms-flexbox;
    display: flex;
    contain: strict;
    width: 50px;
    height: 50px;
    z-index: 9;
    cursor: pointer;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (min-width:768px) {
    .navigation--handle {
        height: 80px;
        width: 80px;
        left: 0;
        top: 0;
        background-repeat: repeat;
        background-size: auto;
    }
}

.navigation--handle__line {
    width: 60%;
    height: 2px;
    transition: background-color .5s cubic-bezier(.75,0,.25,1);
    background-color: #fff;
}

    .navigation--handle__line:after, .navigation--handle__line:before {
        display: block;
        height: 2px;
        content: "";
        transition: transform .5s cubic-bezier(.75,0,.25,1),background .5s cubic-bezier(.75,0,.25,1);
        transform: translateY(-9px);
        background: #fff;
    }

    .navigation--handle__line:after {
        transform: translateY(7px);
    }

@media (min-width:768px) {
    .navigation--handle__line {
        width: 40%;
    }
}

.navigation--content {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    transform: translate3d(-100%,0,0);
    overflow: hidden;
    overflow-y: auto;
    transition: transform .5s cubic-bezier(.75,0,.25,1);
    z-index: 7;
    font-family: Karla,sans-serif;
}

@media (min-width:768px) {
    .navigation--content {
        transform: translate3d(-100%,0,0);
        width: 30vw;
        height: auto;
    }
}

.navigation-modal {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    min-height: 100vh;
    padding: 40px 0;
    overflow-y: auto;
    z-index: 7;
    color: #313b89;
    background: #fff;
    background-repeat: repeat;
    background-size: auto;
    font-weight: 900;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start;
}

@media (min-width:768px) {
    .navigation-modal {
        width: 30vw;
        max-width: 450px;
    }
}

.menu {
    list-style: none;
    margin: 0;
    padding-left: 25px;
    margin-bottom: 25px;
}

@media (min-width:900px) {
    .menu {
        margin-bottom: 45px;
        margin-top: 70px;
    }
}

.menu a {
    color: inherit;
}

.menu a, .menu li {
    text-decoration: none;
}

.menu li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
}

@media (min-width:900px) {
    .menu li {
        font-size: 26px;
    }
}

.menu li:before {
    display: block;
    width: 0;
    margin-right: 0;
    height: 4px;
    content: "";
    background-color: #313b89;
    pointer-events: none;
    transition: width .2s cubic-bezier(.75,0,.25,1),margin-right .2s cubic-bezier(.75,0,.25,1);
}

.menu li.selected:before {
    width: 30px;
    margin-right: 10px;
}

@media (min-width:768px) {
    .menu li:not(.selected):hover:before {
        width: 15px;
        margin-right: 10px;
    }
}

.history {
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 25px;
    font-size: 15px;
    margin-bottom: 25px;
    color: #000;
}

@media (min-width:900px) {
    .history {
        margin-bottom: 45px;
        font-size: 13px;
    }
}

.history .small-title {
    margin-bottom: 5px;
    font-size: 15px;
}

.history a {
    color: rgba(49,59,137,.6);
    display: inline-block;
    margin-bottom: 5px;
}

    .history a:hover {
        color: #313b89;
    }

    .history a:last-of-type {
        margin-bottom: 0;
    }

.social {
    padding-left: 25px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

    .social, .social a {
        display: -ms-flexbox;
        display: flex;
    }

        .social a {
            max-width: 22px;
            margin: 0 20px 0 0;
            opacity: .6;
        }

            .social a:hover {
                opacity: 1;
            }

            .social a:last-of-type {
                margin: 0;
            }

        .social img {
            width: 100%;
            height: auto;
            vertical-align: bottom;
        }

        .history, .menu li, .social a {
            transition: transform .5s cubic-bezier(.75,0,.25,1);
            transform-origin: left;
            transform: translateX(-300px);
        }

.right-corner, right-corner {
    position: fixed;
    z-index: 5;
    left: 50%;
    bottom: 30px;
    transform: translate3d(-50%,0,0);
}

@media (min-width:900px) {
    .right-corner, right-corner {
        top: 26px;
        right: 30px;
        left: auto;
        bottom: auto;
        transform: translateZ(0);
    }
}

.left-corner, left-corner {
    position: fixed;
    transform: translateZ(0);
    top: 26px;
    left: 65px;
    z-index: 6;
    white-space: nowrap;
    z-index: 8;
}

@media (min-width:768px) {
    .left-corner, left-corner {
        top: 32px;
        left: 90px;
    }
}

.left-corner .nav-closed-label, .left-corner .nav-open-label, left-corner .nav-closed-label, left-corner .nav-open-label {
    transition: opacity .5s cubic-bezier(.75,0,.25,1);
    position: absolute;
    left: 0;
    top: 0;
}

.left-corner .nav-open-label, left-corner .nav-open-label {
    opacity: 0;
}

.left-corner .nav-closed-label, .nav-open .left-corner .nav-open-label, .nav-open left-corner .nav-open-label, left-corner .nav-closed-label {
    opacity: 1;
}

.nav-open .left-corner .nav-closed-label, .nav-open left-corner .nav-closed-label {
    opacity: 0;
}

.left-corner.box {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

    .left-corner.box .nav-open-label {
        color: rgba(49,59,137,.3);
    }

@media (min-width:900px) {
    .left-corner.box {
        font-size: 14px;
    }
}

a.purchase-link {
    display: block;
    position: relative;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #fff;
    height: 44px;
    line-height: 44px;
    padding: 0 19px;
    white-space: nowrap;
    box-sizing: content-box;
    overflow: hidden;
    transform: translateZ(0);
    background: rgba(37,44,102,.5);
}

@media (min-width:900px) {
    a.purchase-link {
        background-color: transparent;
    }
}

.nav-open {
    overflow: hidden;
}

@media (min-width:768px) {
    .nav-open {
        overflow: visible;
    }
}

.nav-open .navigation--content {
    pointer-events: auto;
    transform: translateZ(0);
}

.nav-open .navigation-modal {
    opacity: 1;
    transition-delay: 0s;
}

.nav-open .navigation--handle {
    border-bottom-color: transparent;
}

    .nav-open .navigation--handle .navigation--handle__line {
        background-color: #fff;
    }

        .nav-open .navigation--handle .navigation--handle__line:after, .nav-open .navigation--handle .navigation--handle__line:before {
            background: #313b89;
        }

        .nav-open .navigation--handle .navigation--handle__line:after {
            transform: rotate(-45deg) translate3d(1px,0,0);
        }

        .nav-open .navigation--handle .navigation--handle__line:before {
            transform: rotate(45deg) translate3d(2px,0,0);
        }

.nav-open .history, .nav-open .menu li, .nav-open .social a {
    transform: translateX(0);
}

    .nav-open .menu li:first-child {
        transition-delay: 80ms;
        transition-duration: .75s;
    }

    .nav-open .menu li:nth-child(2) {
        transition-delay: .12s;
        transition-duration: .75s;
    }

    .nav-open .menu li:nth-child(3) {
        transition-delay: .16s;
        transition-duration: .75s;
    }

    .nav-open .menu li:nth-child(4) {
        transition-delay: .2s;
        transition-duration: .75s;
    }

    .nav-open .menu li:nth-child(5) {
        transition-delay: .24s;
        transition-duration: .75s;
    }

    .nav-open .menu li:nth-child(6) {
        transition-delay: .28s;
        transition-duration: .75s;
    }

    .nav-open .menu li:nth-child(7) {
        transition-delay: .32s;
        transition-duration: .75s;
    }

    .nav-open .menu li:nth-child(8) {
        transition-delay: .36s;
        transition-duration: .75s;
    }

    .nav-open .menu li:nth-child(9) {
        transition-delay: .4s;
        transition-duration: .75s;
    }

    .nav-open .menu li:nth-child(10) {
        transition-delay: .44s;
        transition-duration: .75s;
    }

.nav-open .history {
    transition-delay: .34s;
    transition-duration: .75s;
}

.nav-open .social a:first-child {
    transition-delay: .48s;
    transition-duration: .75s;
}

.nav-open .social a:nth-child(2) {
    transition-delay: .44s;
    transition-duration: .75s;
}

.nav-open .social a:nth-child(3) {
    transition-delay: .4s;
    transition-duration: .75s;
}

.nav-open .social a:nth-child(4) {
    transition-delay: .36s;
    transition-duration: .75s;
}

.nav-open .social a:nth-child(5) {
    transition-delay: .32s;
    transition-duration: .75s;
}

.nav-open .social a:nth-child(6) {
    transition-delay: .28s;
    transition-duration: .75s;
}

.nav-open .social a:nth-child(7) {
    transition-delay: .24s;
    transition-duration: .75s;
}

.nav-open .social a:nth-child(8) {
    transition-delay: .2s;
    transition-duration: .75s;
}

.nav-open .social a:nth-child(9) {
    transition-delay: .16s;
    transition-duration: .75s;
}

.nav-open .social a:nth-child(10) {
    transition-delay: .12s;
    transition-duration: .75s;
}

.form {
    color: #fff;
    bottom: 10%;
    top: auto;
    width: 480px;
    max-width: 100%;
    font-size: 16px;
}

    .form label {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 700;
    }

    .form input {
        padding: 5px 0 15px;
        margin-bottom: 20px;
        border-radius: 0;
        color: hsla(0,0%,100%,.5);
        transition: border-color .5s cubic-bezier(.75,0,.25,1);
    }

        .form input:focus {
            outline: none;
            color: #fff;
            border-color: #7af6dd;
        }

    .form button {
        text-align: right;
        margin-top: 10px;
        font-weight: 700!important;
        background: none;
        border: 0;
        color: inherit;
        font: inherit;
        line-height: normal;
        overflow: visible;
        padding: 0;
        -webkit-appearance: button;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

        .form button:focus {
            outline: none;
        }

        .form button:hover {
            opacity: .8;
        }

        .form button:disabled {
            opacity: .25;
            cursor: not-allowed;
        }

@media (min-width:768px) {
    .form button {
        margin-top: 0;
    }
}

.form small {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

@media (min-width:768px) {
    .form small {
        -ms-flex: 1 1 0px;
        flex: 1 1 0;
    }
}

.newsletter--alreadysubscribed input, .newsletter--alreadysubscribed input:focus {
    color: #fff;
    border-color: #7af6dd;
}

.newsletter--alreadysubscribed small {
    color: #7af6dd;
}

.newsletter--notvalid input, .newsletter--notvalid input:focus {
    color: #fb5e61;
    border-color: #fb5e61;
}

.newsletter--notvalid small {
    color: #fb5e61;
}

.medium-posts {
    margin: 40px 0;
}

.medium-post {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff;
    text-align: left;
    text-decoration: none;
    margin: 0 0 40px;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
}

@media (min-width:768px) {
    .medium-post {
        margin: 0 0 60px;
        padding-bottom: 10px;
        border-bottom: 2px solid #fff;
        max-width: 90%;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
        transition: padding .16s linear,margin .16s linear;
    }

        .medium-post:hover {
            margin: 0 0 65px;
            padding-bottom: 5px;
        }
}

.medium-posts--title {
    font-size: 26px;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin: 0 0 10px;
}

@media (min-width:768px) {
    .medium-posts--title {
        margin: 0;
    }
}

.medium-posts--more {
    font-size: 14px;
    font-weight: 400;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.medium-post:hover {
    opacity: .7;
}

.speaker-videos {
    margin: 80px 20px 0;
}

.speaker-video {
    margin: 30px 0;
    margin-right: auto;
    color: #fff;
}

    .speaker-video:last-child {
        margin: 30px 0 0;
    }

@media (min-width:768px) {
    .speaker-video {
        max-height: 200px;
    }
}

@media (min-width:768px) {
    .speaker-video:nth-child(2n) {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        text-align: right;
        margin-left: auto;
        margin-right: 0;
    }
}

.speaker-video:first-child {
    margin: 0;
}

@media (min-width:768px) {
    .speaker-video:nth-child(2n) .speaker-video--headings {
        transform: translateX(50px);
    }
}

.video-thumbnail {
    position: relative;
    width: 144px;
    min-width: 144px;
    height: auto;
    cursor: pointer;
}

@media (min-width:768px) {
    .video-thumbnail {
        width: 260px;
    }
}

.video-thumbnail:after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    width: 55px;
    height: 62px;
    content: "";
    transition: opacity .5s cubic-bezier(.75,0,.25,1),transform .5s cubic-bezier(.75,0,.25,1);
    transform: translate(-50%,-50%) scale(.85);
    transform-origin: center;
    opacity: .8;
    background: url(../images/play.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

@media (min-width:768px) {
    .video-thumbnail:after {
        display: block;
    }
}

.video-thumbnail img {
    width: 100%;
    height: auto;
}

.speaker-video--headings {
    transform: translateX(-20px);
    cursor: pointer;
}

@media (min-width:768px) {
    .speaker-video--headings {
        transform: translateX(-50px);
        max-width: 70%;
    }
}

.speaker-video--name {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 900;
    font-family: Cartograph Mono CF,monospace;
}

@media (min-width:768px) {
    .speaker-video--name {
        font-size: 52px;
    }
}

.speaker-video--name:hover {
    text-decoration: underline;
}

.speaker-list {
    margin: 80px 0 0;
}

@media (min-width:768px) {
    .speaker-list {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.speaker-list-item {
    margin: 30px 0;
    margin-right: auto;
    color: #fff;
}

    .speaker-list-item:last-child {
        margin: 30px 0;
    }

@media (min-width:768px) {
    .speaker-list-item {
        max-height: 200px;
    }
}

.speaker-list-item:last-of-type {
    margin-bottom: 60px;
}

@media (min-width:768px) {
    .speaker-list-item:last-of-type {
        margin-bottom: 120px;
    }
}

@media (min-width:768px) {
    .speaker-list-item:nth-child(2n) {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        text-align: right;
        margin-left: auto;
        margin-right: 0;
    }
}

.speaker-list-item:first-child {
    margin: 0;
}

@media (min-width:768px) {
    .speaker-list-item:nth-child(2n) .speaker-list-item--headings {
        transform: translateX(50px);
    }
}

.speaker-thumbnail {
    position: relative;
    width: 144px;
    min-width: 144px;
    height: auto;
    cursor: pointer;
}

@media (min-width:768px) {
    .speaker-thumbnail {
        width: 260px;
    }
}

.speaker-thumbnail img {
    width: 100%;
    height: auto;
}

.speaker-list-item--headings {
    transform: translateX(-20px);
    cursor: pointer;
}

@media (min-width:768px) {
    .speaker-list-item--headings {
        transform: translateX(-50px);
        max-width: 70%;
    }
}

.speaker-list-item--name {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 900;
    font-family: Cartograph Mono CF,monospace;
}

@media (min-width:768px) {
    .speaker-list-item--name {
        font-size: 52px;
    }
}

.speaker-list-item--name:hover {
    text-decoration: underline;
}

.speaker-list-item--title {
    font-weight: 700;
}

    .speaker-list-item--title:after {
        content: "☛";
    }

.video-watch {
    font-size: 20px;
    font-weight: 700;
}

.video-modal {
    width: 100%;
    height: 100%;
}

@media (min-width:768px) {
    .video-modal {
        padding: 80px;
    }
}

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 10px solid #313b89;
    background: #fff;
    color: #313b89;
    background-size: auto;
    background-repeat: repeat;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 100vw;
    z-index: 9;
}

@media (min-width:768px) {
    .modal {
        width: auto;
        border: 20px solid #313b89;
    }
}

.modal-actions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;
    position: -webkit-sticky;
    position: sticky;
    background: hsla(0,0%,100%,.88);
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (min-width:900px) {
    .modal-actions {
        padding: 0 30px;
        background: transparent;
        height: 60px;
    }
}

.close-modal {
    cursor: pointer;
    font-size: 32px;
    line-height: 1;
    color: #313b89;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

    .close-modal span {
        font-size: 18px;
        font-weight: 700;
        margin-left: 10px;
    }

    .close-modal:hover {
        opacity: .6;
    }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 4;
}

.newsletter--success {
    text-align: center;
}

.schedule {
    position: relative;
    z-index: 2;
    margin-left: 203px;
    padding: 0;
    list-style: none;
    text-align: left;
    border-left: 2px solid #fff;
}

@media (max-width:992px) {
    .schedule {
        margin-left: 15px;
        padding-top: 4px;
    }
}

.schedule a {
    cursor: pointer;
}

    .schedule a h3 {
        border-bottom: 2px solid transparent;
        display: inline-block;
        margin: 0;
    }

    .schedule a:hover h3 {
        border-bottom-color: #fff;
    }

.schedule li {
    position: relative;
    margin: 0 0 80px 60px;
    padding: 0;
    color: #7af6dd;
    font-size: 1.6rem;
}

@media (max-width:992px) {
    .schedule li {
        margin: 0 0 80px 60px;
        font-size: .9rem;
    }
}

.schedule .image {
    position: absolute;
    top: 8px;
    left: -61px;
    display: block;
    transform: translateX(-50%);
    border: 3px solid #fff;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    text-indent: -999999px;
    overflow: hidden;
    background-color: #313b89;
    box-shadow: 0 -2px 0 12px #313b89;
}

@media (max-width:992px) {
    .schedule .image {
        top: 8px;
        left: -60px;
        box-shadow: 0 0 0 14px #313b89;
    }
}

.schedule .image.isSpeaker {
    top: -8px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    background-size: cover;
    background-blend-mode: screen;
}

.schedule h3 {
    color: #fff;
}

@media (max-width:992px) {
    .schedule h3 {
        margin-bottom: 6px;
    }
}

.schedule p {
    max-width: 70%;
    font-size: 16px;
}

.schedule .time {
    position: absolute;
    top: 4px;
    left: -265px;
    display: block;
    width: auto;
    text-align: right;
    color: #fff;
    font-size: 18px;
}

@media (max-width:992px) {
    .schedule .time {
        top: -27px;
        left: 0;
        padding: 5px 0 7px;
        font-size: 12px;
    }
}

.schedule .tracks {
    margin-bottom: 60px;
}

    .schedule .tracks:after {
        display: table;
        clear: both;
        content: "";
    }

.schedule .track {
    float: left;
    width: 50%;
}

h4.headline {
    font-size: 18px;
    font-weight: 700;
}

p.desc {
    display: block;
    opacity: .75;
    font-size: 14px;
    color: #fff;
}

@media (max-width:992px) {
    p.desc {
        display: none;
    }
}

.directions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    bottom: 10%;
    top: auto;
    width: 480px;
    max-width: 100%;
    transform: translateY(120px);
}

    .directions > * {
        text-align: center;
    }

    .directions h4 {
        margin-bottom: 5px;
        text-transform: uppercase;
    }

body {
    background: #72887f;
    font-family: Cartograph Mono CF,monospace;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

    body.modal-open, body.nav-open {
        overflow: hidden;
        max-height: 100%;
    }

.s-c {
    position: relative;
    z-index: 3;
    width: 100%;
    max-width: 920px;
    color: #fff;
}

.c-w, .s-c {
    margin: 0 auto;
}

.c-w {
    max-width: 640px;
    padding: 80px 20px;
    min-height: 100%;
}

.modal > * {
    z-index: 1;
}

.modal:after, .modal:before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: 0;
}

.modal:before {
    background-image: url(../images/pattern.png);
    background-repeat: repeat;
    opacity: .4;
}

.modal:after {
    background: linear-gradient(0deg,#fff 0,hsla(0,0%,100%,0) 25%);
}

.m-c {
    max-width: 640px;
    display: block;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
}

.m-c, .v-c {
    position: absolute;
}

.v-c {
    height: 100%;
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@media (min-width:768px) {
    .v-c {
        max-width: 1024px;
    }
}

.v-w {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    top: 50%;
    transform: translateY(-50%);
}

    .v-w iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.w-bg {
    background-repeat: repeat;
    background-size: auto;
    background-image: url(../images/pattern.png);
    position: relative;
}

    .w-bg:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 33%;
        bottom: 0;
        left: 0;
    }

.w-bg-fade-bottom:after {
    background: linear-gradient(0deg,#313b89 0,rgba(49,59,137,0));
}

.w-bg-fade-top:after {
    top: 0;
    background: linear-gradient(180deg,#313b89 0,rgba(49,59,137,0));
}

section {
    width: 100vw;
    min-height: 100vh;
    padding: 100px 20px;
}

@media (min-width:768px) {
    section {
        width: calc(100vw - 80px);
        margin-left: 80px;
        padding: 100px;
    }
}

.section-title {
    max-width: 800px;
    font-family: Cartograph Mono CF,monospace;
    color: #7af6dd;
    font-size: 48px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 60px;
    text-transform: uppercase;
}

@media (min-width:768px) {
    .section-title {
        font-size: 110px;
    }
}

.section-copy {
    color: #fff;
}

.excerpt {
    position: relative;
    max-height: 350px;
    overflow: hidden;
}

    .excerpt:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        background: linear-gradient(0deg,#72887f 0,rgba(49,59,137,0));
    }

.logo {
    max-width: 90%;
    height: auto;
    font-size: 72px;
    font-weight: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    overflow: hidden;
    
}

    .logo img {
        position: relative;
        z-index: 1;
        vertical-align: bottom;
        max-width: 100%;
        height: auto;
    }

    .logo .animation {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-62%);
    }

@media (max-width:768px) {
    .logo .animation {
        display: none;
    }

    .logo:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-60%);
        background:url(/assets/images/logo1.jpeg)
        background-position: 50%;
        background-size: 70%;
        background-repeat: no-repeat;
        height: 320px;
        width: 320px;
        z-index: 0;
    }
}

@media (max-width:768px) and (min-width:768px) {
    .logo:after {
        transform: translate(-50%,-65%);
        background-size: 100%;
    }
}

.top .form {
    transform: translateY(200px);
}

    .top .form button {
        -ms-flex-pack: end;
        justify-content: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;
        height: auto;
    }

.partner-items {
    margin: 0 -20px 40px;
}

.partner-item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    cursor: default;
}

@media (min-width:768px) {
    .partner-item {
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        padding: 0 20px 60px;
    }
}

.partner-item img {
    max-width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 100px;
    vertical-align: bottom;
    cursor: pointer;
}

    .partner-item img:hover {
        opacity: .5;
    }

@media (max-width:768px) {
    .partner-item img {
        width: auto;
        height: auto;
        max-width: 30vw;
        max-height: 90vh;
    }
}

.sponsor-heading-title {
    margin-bottom: 40px;
}

button {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 100%;
    white-space: nowrap;
    text-decoration: none;
    border-style: none;
    border-width: 0;
    background: inherit;
    -webkit-user-select: none;
    padding: 0 32px;
    border-radius: 64px;
    height: 45px;
    font-size: 14px;
    font-weight: 700;
    transition: box-shadow .2s cubic-bezier(.75,0,.25,1);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.button__cyan {
    background-color: #7af6dd;
    color: #313b89;
    outline: none;
    box-shadow: 0 2px 10px transparent;
}

    .button__cyan:hover {
        box-shadow: 0 2px 10px rgba(26,240,197,.5);
    }

    .button__cyan:active {
        box-shadow: 0 2px 10px transparent;
    }

.cta {
    color: #000;
}

.menu li.cta {
    margin-top: 30px;
}

    .menu li.cta:before {
        background-color: #000;
    }
